*{
    margin: 0;
    padding: 0;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    box-sizing: border-box;
}

body{
    background-image: url(master/images/pixelback.jpg.jpg);
    color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
}

#header{
   width: 100%;
   height: 100vh;
}

.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 70vh;
    padding-right: 40px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #c8c2e2;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: .1s;
}

nav ul li a:hover::after{
    width: 100%;
}

.passcode{
    cursor: not-allowed;
    font-size: 25px;
}

.header-text{
    margin-top: 10%;
    font-size: 90px;
    text-align: center;
}

.header-text h1{
    font-size: 80px;
    margin-top: 30px;
    text-align: center;
}

.header-text h1 span{
    color: #4782c9;
}

/* about me section */

#about{
    padding: 80px 0;
    color: #fff;
    font-size: 30px;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-1{
    flex-basis: 35%;
}

.about-1 img{
    width: 100%;
}

.about-2{
    flex-basis: 60%;
}

.subtitle{
    font-size: 100px;
    font-weight: 600;
    color: 	#c8c2e2;
}

.tab-titles{
    display: flex;
    margin: 20px 0px 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 30px;
    font-weight: 500;
    cursor: wait;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #4782c9;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.1s;
}

.tab-links.active-link::after{
    width: 100%;
}

.tab-contents ul li{
    list-style: url(master/images/blue-heart.png);
    margin: 10px 0;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

/* quotes section */

#quotes{
    padding: 30px 0;
}

.quotes-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.quotes-list div{
    background: #393852;
    padding: 40px;
    font-size: 20px;
    font-weight: 30px;
    border-radius: 5px;
    transition: background 0.1s, transform 0.1s;
}

.quotes-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.quotes-list div:hover{
    background: #c8c2e2;
    transform: translateY(-20px);
}

/* contact section */

.contact-left{
    flex-basis: 35%;
}

.contact-right{
    flex-basis: 60%;
}

.contact-left p{
    margin-top: 30px;
}

.button{
    display: inline-block;
    background: #4782c9;
    margin: 50px auto;
    width: fit-content;
    border: 5px solid #393852;
    padding: 15px 50px;
    border-radius: 5px;
    color: #c8c2e2;
    transition: background 0.1s;
    cursor: none;
}

.button:hover{
 background: #393852;
}

.conntact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background-color: #fff;
    padding: 10px;
    margin: 10px 0;
    color: #080808;
    font-size: 20px;
    border-radius: 6px;
}
